{{ 'new-main-product.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}
<div class="main-layout-flex">
	<div class="main-layout_left">
      {% render 'product-media' %}
    </div>
  	<div class="main-layout_right">
      <h1>{{ section.blocks.heading }}</h1>
  	</div>
</div>

{% javascript %}
{% endjavascript %}

{% schema %}
  {
 	"name": "Section name",
 	"class": "product",
 	"tag": "div",
 	"settings": [{
 		"type": "text",
 		"id": "title",
 		"label": "labell"
 	}
	 
],
 	"blocks": [
		{
		  "type": "heading",
		  "name": "t:sections.email-signup-banner.blocks.heading.name",
		  "limit": 1,
		  "settings": [
			{
			  "type": "text",
			  "id": "heading",
			  "default": "Opening soon",
			  "label": "t:sections.email-signup-banner.blocks.heading.settings.heading.label"
			},
			{
			  "type": "select",
			  "id": "heading_size",
			  "options": [
				{
				  "value": "h2",
				  "label": "t:sections.all.heading_size.options__1.label"
				},
				{
				  "value": "h1",
				  "label": "t:sections.all.heading_size.options__2.label"
				},
				{
				  "value": "h0",
				  "label": "t:sections.all.heading_size.options__3.label"
				}
			  ],
			  "default": "h1",
			  "label": "t:sections.all.heading_size.label"
			}
		  ]
		}
	 ]
	}
{% endschema %}