{{ 'new-main-product.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}
<div class="main-layout-flex">
	<div class="main-layout_left">
      {% render 'product-media' %}
    </div>
  	<div class="main-layout_right">
      
  	</div>
</div>

{% javascript %}
{% endjavascript %}

{% schema %}
  {
 	"name": "Section name",
 	"class": "product",
 	"tag": "div",
 	"settings": [{
 		"type": "text",
 		"id": "title",
 		"label": "labell"
 	}],
 	"blocks": [{
 		"type": "image",
 		"name": "image block",
 		"settings": [{
 			"type": "image_picker",
 			"id": "image",
 			"label": "image"
 		}]
 	}]
 }
{% endschema %}