.main-layout-flex {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 100%;
}

.main-layout_left {
  background-color: red;
  min-width: 68%;
}

.main-layout_right {
  background-color: blue;
  width: 100%;
}