.content_wrap {
  display: flex;
  align-items; center;
  justify-content: center;
}

.img-container {
  position: relative;
  width: 600px;
  width: 100%;
  height: 100%;

}

.img {
  position: absolute;
  position: fill;
  width: 100%;
  height: 100%;
}